<div class="container">
  <div class="login-panel">
    <div class="text-center mt-3">
      <img src="assets/logo.png" alt="MasterGym Logo">
      <h3>Welcome! Please enter your email and password to login</h3>
    </div>
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div *ngIf="!formIsValid" class="alert alert-danger mt-3" role="alert">
          {{errorMessage}}
        </div>
        <form [formGroup]="formLogin">
          <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" class="form-control" formControlName="email" id="email" placeholder="Email">
            <div *ngIf="formLogin.controls['email'].invalid && formLogin.controls['email'].dirty"
              class="alert alert-warning mt-3" role="alert">
              <span *ngIf="formLogin.controls['email'].errors.required">Email is required</span>
              <span *ngIf="formLogin.controls['email'].errors.email">Invalid email</span>
            </div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" (key.enter)="login()" class="form-control" formControlName="password" id="password"
              placeholder="Password">
            <div *ngIf="formLogin.controls['password'].invalid && formLogin.controls['password'].dirty"
              class="alert alert-warning mt-3" role="alert">
              <span *ngIf="formLogin.controls['password'].errors.required">Password is required</span>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 offset-sm-4">
              <button type="submit" class="btn btn-primary btn-block" [disabled]="!formLogin.valid"
                (click)="login()">Login</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>