<div class="container mt-5">
  <h4>Customers List</h4>

  <form>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search a customer...">
    </div>
  </form>

  <div class="row">
    <div class="col-sm-3" *ngFor="let customer of customers">
      <div class="card">
        <img [src]="customer.img" [alt]="customer.name" class="card-img-top img-customer">
        <div class="card-body">
          <h5 class="card-title">{{customer.name}}</h5>
          <a href="#" class="card-link">Edit</a>
          <a href="#" class="card-link text-danger">Disable</a>
        </div>
      </div>
    </div>
  </div>
</div>